html {
	border: 0; margin: 0; padding: 0;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { 
	border: 0; margin: 0; padding: 0;
  	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-align: justify;
	-moz-box-align: justify;
	box-align: justify;

	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

header {
	font-size: 1.2em;
	padding: 0.25em;
}

footer {
	font-size: 1.5em;
	padding: 0.5em;
}

#main {
    border: 0.5em solid #eee;
	box-sizing: border-box;
	-moz-box-sizing: border-box;			
	margin: 0;
	width: 100%;		
}

#row {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-flex:1;
	-moz-box-flex: 1;
	-box-flex: 1;
	
	padding-bottom: 0.5em;
	
	height: 0;
	width: 100%;
}

#column {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-flex:1;
	-moz-box-flex: 1;
	-box-flex: 1;
	
	width: 0;
}

#cell {
	overflow: scroll;
	
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-flex:1;
	-moz-box-flex: 1;
	-box-flex: 1;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

.two {
	width: 0;
    padding: 1em; 
    text-align: center;

	margin-left: 0.5em;
	margin-right: 0.5em;

    display:-webkit-box;
    display:-moz-box;
    display: box;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;

    text-align: left;
}

.flexboxHFill {
    padding: 1em; 
    text-align: center;

	margin-left: 0.5em;
	margin-right: 0.5em;

    display:-webkit-box;
    display:-moz-box;
    display: box;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    text-align: left;
}

.flexbox {
	width: 0;
	height: 0;
    padding: 1em; 
    text-align: center;

	margin-left: 0.5em;
	margin-right: 0.5em;

    display:-webkit-box;
    display:-moz-box;
    display: box;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    text-align: left;
}

#box-1 {
    background-color: #E8B15B;
}
#box-2 {
    background-color: #C1D652;
}
#box-3 {
    background-color: #CDFCA9;
}
#box-4 {
    background-color: orange;
}	

H1 {
    font-size: 2em;
    padding: 0.25em;
    margin: 4px 0;
    width: auto;
    background: rgba(255, 255, 255, 0.6);
}
H2 {
    font-size: 1.5em;
    padding: 0.25em;
    margin: 4px 0;
    width: auto;
    background: rgba(255, 255, 255, 0.6);
}	
P {
    padding: 4px;
    margin: 4px;
    background: rgba(255, 255, 255, 0.3);
}
.myTable {
	border: 1px solid #000000; 
	border-collapse: collapse;
	width: 100%;
}


#watchlist {

}

#patchlog {

}

#actions {

}

#rq  {

}

.tabs {
  	position: relative;   
  	clear: both;
	margin-top: 1em;
	
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-box-flex: 1;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 0.7em; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  width: auto;
}

.tab [type=radio] {
  display: none;   
}

.content {
  position: absolute;

  top: 1.8em;
  left: 0;
  right: 0;
  bottom: 0;

  background: white;

  padding: 0.5em;
  border: 1px solid lightgrey; 

  overflow:scroll;
}

input[type="radio"]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

input[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
}


